@import "../../mixins/mixins.scss";

.background {
  width: 200px;
  height: 200px;
  background-color: lightgray;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
}

.transition {
  @include cb-transition(transform 0.5s ease-in-out);
}

.background:hover .transition {
  @include cb-transform(translateX(100%));
}

.animationReverse {
  @include cb-animation(move-back 1s ease-in-out);
}

.background:hover .animation,
.background:hover .animationReverse {
  @include cb-animation(move-around 1s ease-in-out forwards alternate);
}

@keyframes move-around {
  from {
    @include cb-transform(translateX(0%));
  }

  33% {
    @include cb-transform(translateY(100%));
  }

  66% {
    @include cb-transform(translateX(100%) translateY(100%));
  }

  to {
    @include cb-transform(translateX(100%));
  }
}

@keyframes move-back {
  from {
    @include cb-transform(translateX(100%));
  }

  33% {
    @include cb-transform(translateX(100%) translateY(100%));
  }

  66% {
    @include cb-transform(translateY(100%));
  }

  to {
    @include cb-transform(translateX(0%));
  }
}
